<h2>Add a New <span class="community-title">Event</span></h2>

<form action="/events/new" method="post">

  <label for="name">Event Name:</label>
  <input type="text" name="name" id="name" />

  <label for="name">Event Location:</label>
  <input type="text" name="location" id="location" />

  <label for="description">Event Description:</label>
  <input type="text" name="description" id="description" />

  <label for="imageUrl">Image:</label>
  <input type="text" name="imageUrl" id="imageUrl" />

  <button type="submit">Add Event</button>

</form>