<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <link rel="stylesheet" href="/stylesheets/login.css" />
</head>

<body class="login-body">

  <div class="image-container">
    <div class="overlay-text">
      <span class="first-font">Welcome to
        <br />
        Watodoo</span>
      <span class="second-font">log in</span>
      <br />
      <span class="third-font">page.</span>
    </div>
    <img class="white-logo" src="/images/white-logo.png" alt="" />
  </div>

  {{! login image }}

  <img class="login-image" src="/images/login.jpg" alt="" />

  {{! login image }}

  <div id="form">

    <form action="/auth/login" method="POST">

      <h2 id="log-in-text">Log in</h2>

      <p><b>Test User:</b> test@test.com <b>Password:</b> 1234</p>

      <label class="email-password-login">
        <div id="email-text">
          <p>Email</p>
        </div>
        <input
          class="email-box"
          type="email"
          name="email"
          placeholder="example@gmail.com"
        />
      </label>

      <label class="email-password-login">
        <div id="password-text">
          <p>Password</p>
        </div>
        <input
          class="password-box"
          type="password"
          name="password"
          placeholder="Password"
        />
      </label>

      <button class="login-button" type="submit">
        <span class="capitalized-l">L</span>og in</button>

      <div id="click-here">
        <a class="remove-text-underline" href="/auth/signup">Don't have an
          account?
          <br />
          <span id="click-here-color">Click here</span></a>
      </div>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>

</body>