<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <link rel="stylesheet" href="/stylesheets/login.css" />
</head>

<body class="login-body">

  {{! login image }}

  <img class="login-image" src="/images/login.jpg" alt="" />

  <div class="image-container">
    <div class="overlay-text">
      <span class="first-font">Welcome to
        <br />
        Watodoo</span>
      <span class="second-font">log in</span>
      <br />
      <span class="third-font">page.</span>
    </div>
    <img class="white-logo" src="/images/white-logo.png" alt="" />
  </div>

  {{! login image }}

  <div id="form">

    <form action="/auth/signup" method="POST">

      <h2 id="log-in-text">Sign up</h2>

      <label class="email-password-login">
        <div id="email-text">
          <p>Full name</p>
        </div>
        <input
          class="email-box"
          type="text"
          name="fullName"
          placeholder="Full name"
        />
      </label>

      <label class="email-password-login">
        <div id="email-text">
          <p>Username</p>
        </div>
        <input
          class="email-box"
          type="text"
          name="userName"
          placeholder="Username"
        />
      </label>

      <label class="email-password-login">
        <div id="email-text">
          <p>Email</p>
        </div>
        <input
          class="email-box"
          type="email"
          name="email"
          placeholder="example@gmail.com"
        />
      </label>

      <label class="email-password-login">
        <div id="password-text">
          <p>Password</p>
        </div>
        <input
          class="password-box"
          type="password"
          name="password"
          placeholder="Password"
        />
      </label>
        <div class="button-div">

      <button class="login-button" type="submit">
        <span class="capitalized-l">C</span>reate account</button>
        </div>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>

</body>