<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <link rel="stylesheet" href="/stylesheets/new-post.css" />
</head>

<h2 class="new-post">Add a New <span class="community-title">Post</span></h2>

<form class="edit-form" action="/community/new" method="post">

  <label for="name">Caption:</label>
  <input type="text" name="name" id="name" />

  <label for="name">Location:</label>
  <input type="text" name="location" id="location" />

  {{! <label for="description">Description:</label>
  <textarea
    name=""
    id="description"
    name="description"
    cols="55"
    rows="5"
  ></textarea> }}
  <br />
  <br />
  <label for="imageUrl">Image:</label>
  <input type="text" name="imageUrl" id="imageUrl" />

  <button class="btn" type="submit">Add Post</button>

</form>