<h2>Add a New <span class="community-title">Post</span></h2>

<form action="/community/new" method="post">

  <label for="name">Caption:</label>
  <input type="text" name="name" id="name" />

  <label for="name">Location:</label>
  <input type="text" name="location" id="location" />

  {{!-- <label for="description">Description:</label>
  <textarea
    name=""
    id="description"
    name="description"
    cols="55"
    rows="5"
  ></textarea> --}}
  <br>
  <br>
  <label for="imageUrl">Image:</label>
  <input type="text" name="imageUrl" id="imageUrl" />

  <button type="submit">Add Post</button>

</form>