<div class="no-post">
  <img class="event-img"  src="/images/ice cream.png" alt="" />
  <br>
  <br>
  <h1>oops!</h1>
  <h2>So sorry, there are no posts yet!</h2>
    <br>
    <br>
  <a href="/community/new">
    <button class="btn">Add Post</button>
  </a>

</div>