<div id="home-screen">

  <h1>{{title}}</h1>
    <p> <span id="discover">Discover</span> Your New Spot</p>

</div>

{{!-- Search Bar --}}

<div id="search-bar">

    <label for="search"></label>
    <input id="search" type="search" placeholder="Search for Restaurants, Cafes...">

</div>

<br>

{{!-- Today, This Week, Next Week  --}}

<div id="events-date">

    <button id="today">Today</button>
    <button id="this-week">This Week</button>
    <button id="next-week">Next Week</button>

</div>

<br>

<div id="restaurants-box">
<div id="restaurants-database">
<div id="restaurant">

  <div id="header">Pura Vida</div>
  <div id="event">Amazing Avocado Day Brunch with DJ Franco and DJ Lolita.</div>
  <div id="address">1756 N Bayshore Dr, Miami.</div>
  <div id="date">Tuesday 3th, 9 am - 8 pm</div>
  
</div>
</div>
</div>

<br>

<div id="restaurants-box">
  <div id="restaurants-database">
    <div id="restaurant">

      <div id="header">Pura Vida</div>
      <div id="event">Amazing Avocado Day Brunch with DJ Franco and DJ Lolita.</div>
      <div id="address">1756 N Bayshore Dr, Miami.</div>
      <div id="date">Tuesday 3th, 9 am - 8 pm</div>

    </div>
  </div>
</div>

<br>

<div id="restaurants-box">
  <div id="restaurants-database">
    <div id="restaurant">

      <div id="header">Pura Vida</div>
      <div id="event">Amazing Avocado Day Brunch with DJ Franco and DJ Lolita.</div>
      <div id="address">1756 N Bayshore Dr, Miami.</div>
      <div id="date">Tuesday 3th, 9 am - 8 pm</div>

    </div>
  </div>
</div>