<div id="edit-profile-screen">
  <h2>Edit Profile</h2>
  <form
    action="/users/edit-profile/{{_id}}"
    method="post"
    {{!-- enctype="multipart/form-data" --}}
  >

    <label for="bio">Bio:</label>
    <textarea id="bio" name="bio" placeholder="Bio">{{bio}}</textarea>

    <label for="profileImage">Profile Photo:</label>
    {{!-- <input
      type="file"
      id="profileImage"
      name="profileImage"
      accept="image/*"
      value="{{profileImage}}"
    /> --}}

    <button type="submit">Save Changes</button>

    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>