<h2>Edit Profile</h2>

<form action="" method="post">

<label>
  Profile Photo:
  <input type="file" id="profileImage" name="profileImage" />
</label>

<button type="submit">Save Changes</button>
</form>