<div id="profile-screen">
  <h1>My Profile:</h1>
  <h2>{{user.userName}}</h2>

  <form action="">
    <label>
      Bio:
      <input type="text" name="bio" placeholder="Bio" />
    </label>

    <button>

      <a href="/user/edit-profile">Edit Profile</a>

    </button>

  </form>

</div>