body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 1.5em;
} */

#home-screen {
  margin-top: 10px;
  text-align: center;
}

#profile-screen {
  margin-top: 10px;
}

#community-screen {
  margin-top: 10px;
  text-align: center;
}

#event-screen {
  margin-top: 10px;
  text-align: center;
}

#event-details-screen {
  margin-top: 10px;
}

#edit-profile-screen {
  margin-top: 10px;
  text-align: center;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #ff88dc;
  border: 1px solid #ff88dc;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #fff;
  color: #ff88dc;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

#form h2 {
  display: flex;
  justify-content: center;
}

/* #logout-form {
  display: inline;
}

#logout-form button {
  width: 120px;
} */

.event-img {
  height: 20vh;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #ff88dc;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #91A6ff;
  text-decoration: none;
}

/* HOME PAGE STYLES */

#discover {
  color: ff83f9;
}

#search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  width: 40em;
  height: 2.5em;
  border-radius: 1em;
  background: #e6e5e5;
  border: none;
  padding: 1em;
}

#header {
  color: ff83f9;
}

#events-date {
  display: flex;
  justify-content: space-around;
}

#today {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  width: 8em;
  height: 2em;
  border: 0.1em solid #000000;
  border-radius: 1em;
  padding: 1em;
  }

  #this-week {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: #ffffff;
   width: 8em;
   height: 2em;
   border: 0.1em solid #000000;
   border-radius: 1em;
   padding: 1em;
    }

  #next-week {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  background: #ffffff;
   border: 0.1em solid #000000;
   width: 8em;
   height: 2em;
   border-radius: 1em;
   padding: 1em;
    }

  #restaurants-box {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: 0.1em solid #000000;
   /* width: 75em;
   height: 10em; */
   border-radius: 3em;
   padding: 10em;
    }

/* placeholder color */

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #9a9a9a;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #9a9a9a;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #9a9a9a;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #9a9a9a;
}