/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Kalam:wght@300&display=swap'); */

* {
  margin: 0;
}

body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  /* font-family: 'Jost', sans-serif; */
}

.body-index {
  background: #fefef5;
  margin-top: 1em;
}

#home-screen {
  margin-top: 10px;
  text-align: center;
}

#profile-screen {
  margin-top: 10px;
}

#community-screen {
  margin-top: 10px;
  text-align: center;
}

#event-screen {
  margin-top: 10px;
  text-align: center;
}

#event-details-screen {
  margin-top: 10px;
}

#edit-profile-screen {
  margin-top: 10px;
  text-align: center;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #ff88dc;
  border: 1px solid #ff88dc;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #fff;
  color: #ff88dc;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

#form h2 {
  display: flex;
  justify-content: center;
}

.event-img {
  height: 20vh;
}

.no-post {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #ff88dc;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #91a6ff;
  text-decoration: none;
}

/* HOME PAGE STYLES */

.watodoo-logo {
  width: 50px;
  height: 50px;
}

#discover-parent {
  margin-top: 2em;
}

#discover {
  color: ff83f9;
}

#search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  width: 40em;
  height: 2.5em;
  border-radius: 1em;
  background: #e6e5e5;
  border: none;
  padding: 1em;
}

#search-button {
  margin-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #6e84f4;
  color: #ffffff;
  width: 8em;
  height: 2em;
  border: 1px solid #6e84f4;
  border-radius: 1.2em;
  padding: 1.2em;
  text-decoration: none;
}

#search-button:hover {
  /* background: #d87dec;
  color: #ffffff;
  border: none; */

  /* background: #ffffff;
  color: #ff88dc; */

  background: #ffffff;
  color: #6e84f4;

  transition: 0.3s ease background;
}

#header {
  color: ff83f9;
}

#events-date {
  display: flex;
  justify-content: space-evenly;
}

#today {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fefef5;
  width: 8em;
  height: 2em;
  border: 0.1em solid #000000;
  border-radius: 1em;
  padding: 1em;
}

#today:hover {
  background: #ffffff;
  color: #000000;
  transition: 0.3s ease background;
}

#tomorrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fefef5;
  width: 8em;
  height: 2em;
  border: 0.1em solid #000000;
  border-radius: 1em;
  padding: 1em;
}

#tomorrow:hover {
  background: #ffffff;
  color: #000000;
  transition: 0.3s ease background;
}

#this-week {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fefef5;
  width: 8em;
  height: 2em;
  border: 0.1em solid #000000;
  border-radius: 1em;
  padding: 1em;
}

#this-week:hover {
  background: #ffffff;
  color: #000000;
  transition: 0.3s ease background;
}

#weekends {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fefef5;
  border: 0.1em solid #000000;
  width: 8em;
  height: 2em;
  border-radius: 1em;
  padding: 1em;
}

#weekends:hover {
  background: #ffffff;
  color: #000000;
  transition: 0.3s ease background;
}

#box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#restaurants-box {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.1em solid #000000;
  width: 50em;
  height: 10em;
  border-radius: 3em;
  padding: 10em;
}

/* placeholder color */

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #9a9a9a;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #9a9a9a;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #9a9a9a;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #9a9a9a;
}
